<ion-view title="Contato" id="page10" style="background-color:#F0F8FF;">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div>
                <img src="img/uOqrXILSRE6dhQVkt8vx_messages_icon.png" width="80" height="auto" style="display:block;">
            </div>
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Mensagem</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="contato-button8" class="button button-positive  button-block">Enviar</button>
        <div>
            <a style="display:block;" href="#" onclick="window.open('https://pt-br.facebook.com/centropaulasouza', '_system', 'location=yes'); return false;">
                <img src="img/q2dKKxFaSouoWX02C4xg_logo_ceeteps.png" width="100%" height="auto" style="display:block;">
            </a>
        </div>
        <div>
            <a style="display:block;" href="#" onclick="window.open('https://www.facebook.com/EtecDRC', '_system', 'location=yes'); return false;">
                <img src="img/QJ3Q11MlQcWpKaeMp28g_cropped-logo_etecsv_sem_bandeira.png" width="100%" height="auto" style="display:block;">
            </a>
        </div>
    </ion-content>
</ion-view>