<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading2" style="color:#000000;font-weight:lighter;text-align:center;">Plataforma Híbrida - PH</h1>
        <div>
            <img src="img/wnCNisqwRwy3se1KmfA0_apple-vs-android-vs-windows.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="home-markdown2" style="color:#000000;font-size:14px;text-align:justify;">
            <pre>
                <code>Com o aumento da demanda de aplicativos mobile surgiu o problema de que cada S.0. tem sua plataforma nativa fazendo com que a criação de aplicativos para cada uma das S.O. seja custosa e trabalhosa. Pensando nesse problema a Plataforma
                    Híbrida foi criada para rodar em qualquer sistema operacional.</code>
            </pre>

            <p></p>
        </div>
    </ion-content>
</ion-view>